@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>AddCategory</h2>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Category Name")
        @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Category Desciption")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /><br />
        <button class="btn btn-primary">Save</button>
    </div>
}

