@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Add Heading</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Title")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Category")
        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
        <br />
        @Html.Label("Writer")
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Add Title</button>
    </div>
}

